* {
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1140px;
    margin-left: auto ;
    margin-right: auto;
}
.row{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
header{
    background-color: #42c5ec;
    
}
a{
    text-decoration: none;
    color: black ;
    font-size: 20px;
}
.col-2{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-8{
    flex: 0 0 66.666667%;
    max-width:66.666667% ;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%; ;
}
.menu ul li{
    float: left;
    margin-left:20px ;
    list-style: none;
}
menu{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
ul.menu_child {
    position:absolute;
    width: 225px;
    background-color: #42c5ec;
    z-index: 9999;
}
ul.menu_child li {
    padding: 15px 0 0 0;
    float: none;
    display: none;
}
.menu ul li:hover ul.menu_child li{
    display: block;
}
